<h1>Compose a new Tweet</h1>
<form action="<%= @path %>"" method="post">
  <div>
    <textarea id="body" name="tweet[body]" required="true" rows="5" colums="50"></textarea>
  </div>
  <div>
    <button type="submit">Post</button>
  </div>
</form>