<h1>Test Page</h1>

<form action="/test/reset/all" method="post"><button type="submit">Reset All</button></form>
<form action="/test/reset/standard?users=n&tweets=n" method="post"><button type="submit">Reset User</button><input maxlength="25" name="n" size="25" type="text"></form>
<form action="/test/user/userid/tweets?count=n" method="post"><button type="submit">Create Tweet</button><input maxlength="25" name="n" size="25" type="text"><input maxlength="25" name="userid" size="25" type="text"></form>
