
<ol>
  <% (1..@total).each do |num| %>
    <li>
      "<%= @redis.hget("#{@user.id}:#{num}", 'body') %>"
      <br/>
      - <%= @redis.hget("#{@user.id}:#{num}", 'author_handle') %>
    </li>
  <% end %>
</ol>
