<h1><%= @user.name %> Following's Table</h1>

<table class="table">
  <tr>
    <th>name</th>
  </tr>
  <% @following.each do |following| %>
  <tr>
    <td><%= User.find_by(id: following.followee_id).name %></td>
  </tr>
  <% end %>
</table>