<h1><%= @user.name %> Followers' Table</h1>

<table class="table">
  <tr>
    <th>name</th>
  </tr>
  <% @followers.each do |follower| %>
  <tr>
    <td><%= User.find_by(id: follower.follower_id).name %></td>
  </tr>
  <% end %>
</table>