<h1><%= @user.name %> Main Page</h1>
<a href="/users/followers">Followers</a>
<a href="/users/following">Following</a>
<a href="/users/unfollowing">Unfollowing</a>
<form action="/logout" method="post"><button type="submit">Logout</button></form>